# docker-compose.yml
services:
  frontend:
    build: .
    container_name: webbinggreenvina
    ports:
      - "5000:5000"
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
    restart: unless-stopped